body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

#movies img,
#movie img {
    width: 100%;
    max-width: 20rem;
    aspect-ratio: 3/5;
}



/* @media(min-width:960px) {
    #movies .col-md-3 .well {
        height: 550px;

    }

    #movies .col-md-3 img {
        height: 400px;
    }
} */

@media(min-width:960px) {
    #movies .col-md-3 .well {
        /* height: 550px;  */
    }

    /* #movies .col-md-3 img {
        height: 400px;
    } */
}

.github {
    width: 3rem;
}

.jumbotron {
    width: 100%;
    max-width: 50rem;
}

.jumbotron,
#movie {
    margin-top: 1rem;
    background: #222;
    padding: 1rem;
    border-radius: .5rem;
}

.movie-card-detail {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    padding: 12px;
}


.movie-card h5 {
    margin-top: 8px;
    min-height: 3.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}